.login-form-container {
  width: 98%;
  height: 90vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.login-form {
  height: 330px;
  /* width: 62%; */
  /* background-color: #f0f0f0; */
  /* padding: 20px; */
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 330px;
  padding: 7px;
}

.form-group-1 {
  display: flex;
  justify-content: center;
  width: 100%;
}
label {
  font-weight: bold;
}

input[type="name"] {
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 100%;
  padding: 9px;
}
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 100%;
}

.regester-button {
  border: none;
  border-radius: 4px;
  color: #f01111;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 184px;
    margin-top: -20px;
}
button {
  width: 49%;
  padding: 10px;
  padding-left: 1px;
  background-color: rgb(249, 8, 36);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 33px;
}
