.no-stock{
  color: red;
}

.buy-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}

h2 {
  font-size: 24px;
  margin: 0 0 10px;
}



.stock-table th,
.stock-table td {
  padding: 39px;
  border-bottom: 1px solid #ddd;
}

.stock-table th {
  text-align: left;
}

input[type="number"] {
  width: 60px;
}

.no-stock {
  color: red;
  margin-top: 10px;
}

.order-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-amount {
  font-weight: bold;
}

.buy-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #0056b3;
}
